* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
}

body {
    padding-top: 100px;
    background-color: antiquewhite;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    background-color: rgb(228, 68, 40);
    padding: 8px;
    border-radius: 10px;
}

header h1 {
    font-size: 40px;
    color: antiquewhite;
}

header img {
    height: 70px;
    margin-right: 8px;
}

.container {
    max-width: 115vh;
    width: 100%;
    margin: 0 auto;
}

form {
    max-width: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input,
form button {
    padding: 8px;
    font-size: 15px;
    font-size: 22px;
    border-radius: 10px;
}

form input {
    font-style: italic;
}

form button {
    background-color: rgb(228, 68, 40);
    color: antiquewhite;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(221, 50, 50);
    transition: 0.2s;
}

table {
    width: 100%;
}

table th {
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: rgb(228, 68, 40);
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}